<nav class="sidebar" aria-label="Documentation sections">
  <nav>
    {{ range .Site.Menus.main }}
    <div class="sidebar-item">
      <a class="sidebar-link{{ if strings.HasPrefix $.RelPermalink .URL }} active{{ end }}" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
      {{ $section := $.Site.GetPage (strings.TrimSuffix "/" .URL) }}
      {{ if $section }}
      <div class="sidebar-nested">
        {{ range $section.Pages }}
        <a class="sidebar-link{{ if eq $.RelPermalink .RelPermalink }} active{{ end }}" href="{{ .RelPermalink }}">{{ .Title }}</a>
        {{ end }}
      </div>
      {{ end }}
    </div>
    {{ end }}
  </nav>
</nav>
